.optionsbtn {
	color: white;
}
.image-main {
	height: 600px;
	width: 500px;
}

.image-small {
	height: 100px;
}
.product-card {
	margin-top: 10%;
}
.options {
	height: 600px;
}
.productimage {
	height: 420px;
}
